
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Table";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transation Manager</title>
</head>
<body>
    <div>
        TABLE TABLE
    </div>
</body>
</html>


